*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial;
    background-color: #f5f5f5;
}

.container{
    width: 100%;
}
.navcontainer{
    width: 100%;
}
.navlist{

    width: 100%;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

.navcontent{
    display: flex;
    gap: 10px;
    margin-right: 10px;
    font-size: 1.5rem;
    
}

a{
    text-decoration: none;
    color: whitesmoke;
    
}
#compname{
    font-size: 2rem;
    color: whitesmoke;
    font-weight: bolder;
}

.contentbox{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 400px;
}
.recipebox-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 25px;
    width: 80%;
    max-width: 900px;
    box-shadow: 10px 10px 10px 10px white ;

}

.lefttbox-1{
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

#clist{
    padding-top: 8px;
    padding-left: 25px;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}

#cplist{
    padding-top: 8px;
    padding-left: 25px;
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
}
.leftbox-1 h2{
    font-size: 2rem;
    color: #333;
}

.leftbox-1 h3{
    font-size: 1.3rem;
    color: #444;
    padding-top:8px ;
}

.rightbox-1{
    display: flex;   
    justify-content: center;
    align-items: center;
}

.rightbox-1 img{
    border-radius: 12px;
    height: 300px;
    width: 300px;   
}

