body{
    background-color: black;
}
.conteiner{
    background-color: aqua;
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
}
#box-1{
    background-color: yellow;
    height: 100px;
    width: 100px; 
    text-align: center; 
    position: relative; 
    display: flex;  
    justify-content: center;
    align-items: center;
    animation-name: box;
    animation-duration: 3s;
    animation-delay:1s ;
    justify-content: center;
    align-items: center;

}
@keyframes box {
    from{
        left: 0%;
        rotate: 0;
        
    }
    to{
        left: 100%;
        rotate: 180deg;
    }
}