 
    body {
      
      display:flex;              /* Enables Flexbox layout */
      justify-content: center;    /* Centers content horizontally */
      align-items: center;        /* Centers content vertically */
      height:100vh;              /* Full viewport height */
      margin: 0;                  /* Removes default browser margin */
      background-color:rgb(178, 195, 132);  /* Just for better visibility */
      font-family: Arial, sans-serif;
    }
    legend{
      font-size:20px;
      color:rgb(25, 161, 120);
    }

 

    