#div1{
    height:70px;
    width: 300px;;
    background-color: aquamarine;
}
#div2{
    background-color: blueviolet;
}
h1{
    height: 100px;
    width: 90px;
    background-color: brown;
}