*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0d0866;
background: #0d0866;
background: linear-gradient(90deg, rgba(13, 8, 102, 1) 0%, rgba(72, 70, 224, 1) 100%, rgba(9, 9, 121, 1) 35%, rgba(14, 196, 232, 1) 100%);
}

.card2{
    height: 550px;
    width: 350px;
    background-color: aliceblue;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card2 img{
    height: 180px;
    width: 300px;
    margin-top: 20px;
}

.card2 h3{
    font-size: 1.6rem;
}
.card2 p{
    text-align: center;
    font-size: 1.1rem;
}

#amountBox{
    width:300px;
    display: flex;
    flex-direction: row;
    background-color: #0000CD;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    gap:15px;
    color: white;
}

#leftBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
}

.imgbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.imgbox img{
    height: 50px;
    width: 50px;
}

.rightBox a{
    text-decoration: none;
    color: white;
}

#paymentbutton{
    height: 40px;
    width: 250px;
    border-radius: 12px;
    background-color: #2d2dfa;
    color: white;
    font-size: 1.1rem;
    border-color: blue;
}

#cancelbutton{
    height: 40px;
    width: 150px;
    border-radius: 9px;
    background-color: white;
    color: blue;
    font-size: 1.1rem;
    border-color: white;
}